@charset "utf-8";
/// 웹폰트 임베드 선언 300, 400, 500, 700, 900
/// @author Arjun
@font-face {
  font-family: 'nskr';
  src: local('NotoSansKR-Light'), url($baseURL+'/fonts/NotoSansKR-Light.woff2') format('woff2'), url($baseURL+'/fonts/NotoSansKR-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'nskr';
  src: local('NotoSans-Regular'), url($baseURL+'/fonts/NotoSansKR-Regular.woff2') format('woff2'), url($baseURL+'/fonts/NotoSansKR-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'nskr';
  src: local('NotoSans-Medium'), url($baseURL+'/fonts/NotoSansKR-Medium.woff2') format('woff2'), url($baseURL+'/fonts/NotoSansKR-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'nskr';
  src: local('NotoSansKR-Bold'), url($baseURL+'/fonts/NotoSansKR-Bold.woff2') format('woff2'), url($baseURL+'/fonts/NotoSansKR-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'nskr';
  src: local('NotoSansKR-Black'), url($baseURL+'/fonts/NotoSansKR-Black.woff2') format('woff2'), url($baseURL+'/fonts/NotoSansKR-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}