@charset "utf-8";

:root {
  font-size: 10px;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden
}
#u-skip {
  position: relative;
  z-index: 3000
} 
#u-skip a {
  position: absolute;
  top: -30px;
  left: 0;
  width: 138px;
  border:1px solid #ababab;
  background: #333;
  text-align: center
}
#u-skip a:active,
#u-skip a:focus {
  top: 0;
  text-decoration: none;
  z-index: 1000
}
#u-skip span {
  display: inline-block;
  padding: 2px 6px 0 0;
  font-size: 13px;
  line-height: 26px;
  color: #fff;
  letter-spacing: -1px;
  white-space: nowrap
}
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0
}
body,
button,
input,
select,
table,
textarea {
  color: #000;
  font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif
}
body {
  &::-webkit-scrollbar,
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px
  }
  &::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    background-clip: padding-box;
    border: 1px solid transparent;
  }
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit
}
textarea {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: transparent;
  border: 0;
  word-break: keep-all;
  word-wrap: break-word
}
button,
input {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0
}
button {
  background-color: transparent
}
fieldset,
img {
  border: 0
}
img {
  vertical-align: top
}
ol,
ul {
  list-style: none
}
address,
em {
  font-style: normal
}
a {
  color: inherit;
  text-decoration: none
}
a:hover {
  text-decoration: underline
}
iframe {
  overflow: hidden;
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: top
}
mark {
  background-color: transparent
}
i {
  font-style:normal
}