@charset "utf-8";
/// 공통 타이포그라피 모음
/// @author
@import 'font';
body,
button,
input,
select,
table,
textarea {
  color: $c-0;
  font-family: 'nskr',-apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
  font-weight: 400;
}
.h1{
  font-family: 'nskr';
  font-weight: 900;
}
.h2{
  font-family: 'nskr';
  font-weight: 700;
}
.h3{
  font-family: 'nskr';
  font-weight: 500;
}