@charset "utf-8";
/// 공통 믹스인들

/// 요소의 크기를 설정하는 헬퍼
/// @author Hugo Giraudel
/// @param {Length} $width
/// @param {Length} $height
@mixin size($width: 100%, $height: $width) {
  width: $width;
  height: $height;
}

/// contain 옵션 배경이미지의 반복 코드
/// @author Natasha
/// @param {String} $url 이미지의 url (값이 있을 경우만 작성)
@mixin bg-contain($url: null, $bg-color: transparent, $bg-size: contain, $position: center) {
  background: {
    color: $bg-color;
    repeat: no-repeat;
    position: $position;
    size: $bg-size;
  }

  @if $url != null {
    background-image: url($url);
  }
}

/// 가상 클래스 선택자 초기화
/// @author Natasha
/// @param {List} $size width, height
/// @param {Value} $display block / inline...
@mixin pseudo-block(
  $size: (
    100%,
    100%,
  ),
  $display: block
) {
  @include size($size);
  content: "";
  display: $display;
}

/// btn 테마
/// @author Natasha
@mixin btn-theme-gray-1() {
  background-color: $c-f4;
}
@mixin btn-theme-primary-1() {
  color: $c-f;
  background-color: #2763ba;
}

@mixin btn-theme-small() {
  height: 20px;
  padding: 0 8px;
  border-radius: 4px;
}

/// svg icon
/// @author Natasha
@mixin icon-regist($size, $color: "ff0000") {
  $color: #{get-utf8-color($color)};
  $src: '%3Csvg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M17.4697 2.46967C17.7626 2.17678 18.2374 2.17678 18.5303 2.46967L21.5303 5.46967C21.8232 5.76256 21.8232 6.23744 21.5303 6.53033L12.5303 15.5303C12.3897 15.671 12.1989 15.75 12 15.75H9C8.58579 15.75 8.25 15.4142 8.25 15V12C8.25 11.8011 8.32902 11.6103 8.46967 11.4697L17.4697 2.46967ZM9.75 12.3107V14.25H11.6893L19.9393 6L18 4.06066L9.75 12.3107Z" fill="#{$color}"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M15.2197 4.71967C15.5126 4.42678 15.9874 4.42678 16.2803 4.71967L19.2803 7.71967C19.5732 8.01256 19.5732 8.48744 19.2803 8.78033C18.9874 9.07322 18.5126 9.07322 18.2197 8.78033L15.2197 5.78033C14.9268 5.48744 14.9268 5.01256 15.2197 4.71967Z" fill="#{$color}"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M3.43934 3.43934C3.72064 3.15804 4.10217 3 4.5 3H12.75C13.1642 3 13.5 3.33579 13.5 3.75C13.5 4.16421 13.1642 4.5 12.75 4.5L4.5 4.5L4.5 19.5H19.5V11.25C19.5 10.8358 19.8358 10.5 20.25 10.5C20.6642 10.5 21 10.8358 21 11.25V19.5C21 19.8978 20.842 20.2794 20.5607 20.5607C20.2794 20.842 19.8978 21 19.5 21H4.5C4.10218 21 3.72065 20.842 3.43934 20.5607C3.15804 20.2794 3 19.8978 3 19.5V4.5C3 4.10217 3.15804 3.72064 3.43934 3.43934Z" fill="#{$color}"/%3E%3C/svg%3E%0A';
  @include pseudo-block($size: $fz-mid);
  @include bg-contain(get-utf8-url($src));
}
@mixin icon-45-angle($size, $color: "ff0000") {
  $color: #{get-utf8-color($color)};
  $src: '%3Csvg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M0.5 1.25C0.5 0.835787 0.835786 0.5 1.25 0.5H8.75C9.16421 0.5 9.5 0.835787 9.5 1.25V8.75C9.5 9.16421 9.16421 9.5 8.75 9.5H1.25C0.835786 9.5 0.5 9.16421 0.5 8.75V1.25ZM8.75 1.25H1.25V8.75H8.75V1.25ZM3.6875 3.6875C3.6875 3.48039 3.85539 3.3125 4.0625 3.3125H6.3125C6.51961 3.3125 6.6875 3.48039 6.6875 3.6875V5.9375C6.6875 6.14461 6.51961 6.3125 6.3125 6.3125C6.10539 6.3125 5.9375 6.14461 5.9375 5.9375V4.59283L3.95266 6.57767C3.80622 6.72411 3.56878 6.72411 3.42234 6.57767C3.27589 6.43122 3.27589 6.19378 3.42234 6.04734L5.40717 4.0625H4.0625C3.85539 4.0625 3.6875 3.89461 3.6875 3.6875Z" fill="#{$color}"/%3E%3C/svg%3E%0A';
  @include pseudo-block($size);
  @include bg-contain(get-utf8-url($src));
}
@mixin icon-to-top($size, $color: "ff0000") {
  $color: #{get-utf8-color($color)};
  $src: '%3Csvg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M0.875 0.375C0.875 0.167893 1.04289 0 1.25 0H8.75C8.95711 0 9.125 0.167893 9.125 0.375C9.125 0.582107 8.95711 0.75 8.75 0.75H1.25C1.04289 0.75 0.875 0.582107 0.875 0.375ZM5 1.5C5.09946 1.5 5.19484 1.53951 5.26517 1.60984L8.64017 4.98485C8.78661 5.13129 8.78661 5.36873 8.64016 5.51518C8.49372 5.66162 8.25628 5.66162 8.10983 5.51518L5.375 2.78033V9.375C5.375 9.58211 5.20711 9.75 5 9.75C4.79289 9.75 4.625 9.58211 4.625 9.375V2.78033L1.89017 5.51518C1.74372 5.66162 1.50628 5.66162 1.35984 5.51518C1.21339 5.36873 1.21339 5.13129 1.35983 4.98485L4.73483 1.60984C4.80516 1.53951 4.90054 1.5 5 1.5Z" fill="#{$color}"/%3E%3C/svg%3E';
  @include pseudo-block($size);
  @include bg-contain(get-utf8-url($src));
}
@mixin icon-to-bottom($size, $color: "ff0000") {
  $color: #{get-utf8-color($color)};
  $src: '%3Csvg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M5 0.25C5.20711 0.25 5.375 0.417893 5.375 0.625V7.21967L8.10983 4.48482C8.25628 4.33838 8.49372 4.33838 8.64016 4.48482C8.78661 4.63127 8.78661 4.86871 8.64017 5.01515L5.26517 8.39016C5.19484 8.46049 5.09946 8.5 5 8.5C4.90054 8.5 4.80516 8.46049 4.73483 8.39016L1.35983 5.01515C1.21339 4.86871 1.21339 4.63127 1.35984 4.48482C1.50628 4.33838 1.74372 4.33838 1.89017 4.48482L4.625 7.21967V0.625C4.625 0.417893 4.79289 0.25 5 0.25ZM0.875 9.625C0.875 9.41789 1.04289 9.25 1.25 9.25H8.75C8.95711 9.25 9.125 9.41789 9.125 9.625C9.125 9.83211 8.95711 10 8.75 10H1.25C1.04289 10 0.875 9.83211 0.875 9.625Z" fill="#{$color}"/%3E%3C/svg%3E%0A';
  @include pseudo-block($size);
  @include bg-contain(get-utf8-url($src));
}
