@charset "utf-8";
//이미지 URL
$baseURL: "/assets";
$baseImg: $baseURL + "/images";
$imgCommon: $baseImg + "/common";
$imgIcon: $baseImg + "/icon";
$imgBoard: $baseImg + "/board";

//색상(Primary, Secondary, State, Netural)
$c-pri-1: #00358c;
$c-pri-2: #4b5ebd;

$c-sec-1-1: #5a45dc;
$c-sec-1-2: #725df2;
$c-sec-1-3: #4e3cc2;

$c-sec-2-1: #3f4ed6;
$c-sec-2-2: #5464ee;
$c-sec-2-3: #3744bd;

$c-sec-3-1: #cc832d;
$c-sec-3-2: #e29336;
$c-sec-3-3: #b37227;

$c-sec-4-1: #278c62;
$c-sec-4-2: #56ab87;
$c-sec-4-3: #207350;

$c-state-1-1: #e85959;
$c-state-1-2: #f08282;
$c-state-1-3: #cf4e4e;

$c-state-2-1: #ffcc00;
$c-state-2-2: #ffdf60;
$c-state-2-3: #e6b800;

$c-state-3-1: #38a8e6;
$c-state-3-2: #5ebdf2;
$c-state-3-3: #3196cc;

$c-state-4-1: #48c28f;
$c-state-4-2: #70d4aa;
$c-state-4-3: #3ea87c;

$c-0: #000;
$c-f: #fff;
$c-4b: #4b4b4b;
$c-6: #666;
$c-ae: #aeaeae;
$c-dc: #dcdcdc;
$c-f4: #f4f4f4;
$c-e1: #e1e1e1;

//font-size
$fz-mid-bbbb: 24px;
$fz-mid-bbbb: 22px;
$fz-mid-bbb: 20px;
$fz-mid-bb: 18px;
$fz-mid-b: 16px;
$fz-mid: 14px;
$fz-mid-s: 12px;
$fz-mid-ss: 10px;

$fz-h-1: 94px;
$fz-h-2: 70px;
$fz-h-3: 30px;

$c-tmp: rgba(255, 0, 0, 0.1);
