@charset "utf-8";
/// 공통 버튼들 선언
/// @author

// 즐겨찾기
.btn-favorit {
  $url: $imgIcon + "/icon-favorit.svg";
  $url-on: $imgIcon + "/icon-favorit-on.svg";

  &:before {
    @include pseudo-block($size: 13px);
    @include bg-contain($url);
  }
  &.on:before {
    background-image: url($url-on);
  }
}
