@charset "utf-8";
/// 공통 팝업
/// @author Boris

.modal {
  display: none;
  background: $c-f;
  border-radius: 8px;
  margin: 0 auto;

  .modal-header {
    .sub-title {
      font-size: $fz-mid-s;
      font-weight: 400;
      line-height: 17.38px;
      word-break: keep-all;
    }

    & + .modal-footer {
      margin-top: 20px;
    }
  }

  .modal-body {
    min-height: 200px;
    font-size: $fz-mid-s;
    margin-top: 25px;

    .txt-message {
      margin: 46px auto 0 auto;
      dt {
        font-size: $fz-mid-bb;
        font-weight: 700;
        color: #000;
        text-align: center;
        &.left {
          text-align: left;
        }
      }
      dd {
        font-size: $fz-mid-s;
        font-weight: 400;
        color: #4B4B4B;
        &.center {
          text-align: center;
        }
      }
    }
  }
  .modal-footer {
    margin: 40px 0 0 0;
  
    .page-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 -5px;
      box-sizing: border-box;

      .btn {
        font-size: $fz-mid-b;
        font-weight: 700;
        height: 48px;
        margin: 0 5px;
        padding: 12px 0;
        text-align: center;
        border-radius: 8px;
        box-sizing: border-box;
        line-height: 23px;
        cursor: pointer;
  
        &.btn-blue {
          color: $c-f;
          background: #2763BA;
        }
        &.btn-gray {
          color: $c-6;
          background: #F4F4F4;
        }
        &.btn-red {
          color: $c-f;
          background: #EA6969;
        }
      }

      &.btn-space-between {
        justify-content: space-between;

        .btn {
          width: 50%;
          &:first-child {
            width: 16.6%;
          }
        }
      }

      &.btn-full {
        .btn {
          width: 100%;
        }
      }

      &.btn-full-between {
        .btn {
          width: 70%;
          &:first-child {
            width: 30%;
          }
        }
      }
    }
  }
}


