@charset "utf-8";
/// 트리 UI

/// Tree Menu 가 있는 레이아웃
/// @author Natasha
.js-tree-search {
  padding: 20px;
  background: $c-f4;
  border-bottom: 1px solid $c-e1;
}

.js-tree-control {
  display: flex;
  margin-bottom: 30px;

  .btn-tree {
    @include btn-theme-small;
    @include btn-theme-gray-1;

    color: $c-6;
    font-size: 12px;

    &.primary {
      @include btn-theme-primary-1;
    }
    & + .btn-tree {
      margin-left: 4px;
    }
    &:last-child {
      margin-left: auto;
    }

    [class^="icon-"] {
      display: flex;
      align-items: center;
      &:before {
        margin-right: 5px;
      }
    }
    .icon-top:before {
      @include icon-to-top($size: 10px, $color: "666");
    }
    .icon-bottom:before {
      @include icon-to-bottom($size: 10px, $color: "666");
    }
    .icon-regist:before {
      @include icon-regist($size: 10px, $color: "fff");
    }
  }
}
