@charset "utf-8";

// footer
#footer {
  .footer-top {
    display: flex;
    align-items: center;
    height: 64px;
    padding-left: 80px;
    background-color: #697387;
    .btm-nav {
      display: flex;
      li {
        margin-right: 32px;
        color: $c-f;
        font-size: $fz-mid-b;
        font-weight: 700;
        a {
          text-decoration: none;
        }
      }
    }
  }
  .footer-mdl {
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
    align-items: center;
    height: 64px;
    background-color: #778194;
    .btm-sitemap {
      display: flex;
      align-items: center;
      dt {
        display: flex;
        align-items: center;
        &:after {
          content: '';
          display: inline-block;
          height: 20px;
          width: 1px;
          margin-left: 20px;
          background-color: $c-f;
        }
        .btn-all {
          display: flex;
          align-items: center;
          color: $c-f;
          font-size: $fz-mid-b;
          font-weight: 700;
          &::before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            border-radius: 3.2px;
            background: rgba(255,255,255,0.2) url($imgIcon + '/arr_down_white.svg') no-repeat 50% 50% / 11px auto;
            transform: rotate(180deg);
          }
        }
      }
      dd {
        ul {
          display: flex;
          align-items: center;
          li {
            margin-left: 20px;
            color: $c-f;
            font-size: $fz-mid-b;
            font-weight: 500;
            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .footer-btm {
    display: flex;
    align-items: center;
    height: 252px;
    padding-left: 80px;
    background-color: #B1B6C1;
    .logo-btm {
      height: 22px;
      margin-bottom: 24px;
      img {
        height: 100%;
      }
    }
    address {
      color: $c-4b;
      font-size: $fz-mid-s;
      font-weight: 400;
    }
  }
}