@charset "utf-8";

// select, 10개씩 보기
.sel-field {
  height: 28px;
  width: 140px;
  border: 1px solid $c-dc;
  border-radius: 4px;
  padding-left: 10px;
  background: url(/assets/images/icon/arr_down_black.svg) no-repeat 116px 50% / 11px 6px;
  -webkit-appearance: none;
  appearance: none;
  color: $c-ae;
  font-weight: 700;
  font-size: $fz-mid-s;
  cursor: pointer;
}

// header > 성명 및 근무지 검색 Dropdown
.field-header {
  display: inline-block;
  .dropdown-sel-btn {
    position: relative;
    height: 32px;
    padding-left: 12px;
    padding-right: 42px;
    border: 1px solid $c-f;
    border-radius: 4px;
    background-color: #2B65B8;  
    font-size: $fz-mid;
    font-weight: 700;
    color: $c-f;
    cursor: pointer; 
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background: url(/assets/images/icon/arr_down_white.svg) no-repeat 50% 50%;
    } 
    &.active + .dropdown-content {
      display: block;
    } 
  }
  .dropdown-content {
    display: none;
    width: 150px;
    border: 1px solid $c-dc;
    background-color: $c-f;
    li {
      height: 33px;
      padding-left: 9px;
      line-height: 33px;
      button {
        width: 100%;
        height: 100%;
        text-align: left;
        cursor: pointer;
      }
    }
  }
}
.dropdown-sel {
  position: relative;
  .dropdown-content {
    position: absolute;
    z-index: 100;
    top: 38px;
    color: $c-6;
    font-size: $fz-mid-s;
    font-weight: 700;
    background-color: $c-f;
    box-shadow: 0 8px 8px rgba(0,0,0,0.24);
    li {
      cursor: pointer;
      &:hover,
      &.active {
        background-color: #EBF1F9;
        color: $c-0;
      }
    }
  }
} 

// input type
.inp-field-area {
  position: relative;
  .inp-field {
    width: 100%;
    height: 32px;
    padding-left: 12px;
    padding-right: 42px;
    border-radius: 4px;
    border: 1px solid $c-dc;
    color: $c-6;
    &::placeholder {
      font-size: $fz-mid;
      font-weight: 700;
      color: $c-ae;
    }
  }
  .btn-sch {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url(/assets/images/icon/icon-zoom.svg) no-repeat 50% 50%;
    text-indent: -9999px;
    cursor: pointer;
  }    
}

.field-btn-re {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: $c-f4;
  .inp-field-area {
    margin-right: 8px;
  }
  .btn-re {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background: $c-dc url(/assets/images/icon/icon-re.svg) no-repeat 50% 50%;
    text-indent: -9999px;
    cursor: pointer;
  }
}
// button
.btn-group-area {
  display: flex;
  justify-content: space-between;
}
.btngroup {
  display: flex;
  margin-right: -6px;
  margin-left: -6px;
  button {
    display: flex;
    align-items: center;
    margin-right: 6px;
    margin-left: 6px;
    height: 32px;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: $fz-mid;
    font-weight: 700;
    color: $c-f;
    cursor: pointer;
    &.btn-list {
      padding-right: 15.5px;
      padding-left: 17.5px;      
    }
    &.btn-light {
      background-color: $c-f4;
      color: $c-6;
    }
    .ico-list {
      display: block;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      background: url(/assets/images/icon/icon-list.svg) no-repeat 50% 50%;
    }
  }
  .btn-list {
    background-color: $c-ae;
  }
  .btn-history {
    background-color: #5A45DC;
  }
  .btn-down {
    background-color: #3C72C1;
  }
  .btn-print {
    background-color: #8A8A8A;
  }
  &.btn-round {
    button {
      position: relative;
      height: 32px;
      padding-right: 10px;
      padding-left: 40px;
      border-radius: 32px;
      font-size: $fz-mid;
      font-weight: 400;
      color: $c-f;
      cursor: pointer;
      &.btn-preview {
        background-color: #6A57DF;
        .ico {
          background-color: #5A45DC;
          background-image: url(/assets/images/icon/icon-note4.svg);
        }
      }
      &.btn-collect {
        background-color: #EA6969;
        .ico {
          background-color: #E85959;
          background-image: url(/assets/images/icon/icon-re.svg);
        }
      }
      &.btn-approval {
        background-color: #3C72C1;
        .ico {
          background-color: #2763BA;
          background-image: url(/assets/images/icon/icon_approval2.svg);
        }
      }
      .ico {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        background: no-repeat 50% 50%;
      }
    }
  }
}

// common
.w220 {
  width: 220px;
}

// Flag
.flag {
  display: inline-block;
  height: 20px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  color: $c-f;
  font-size: $fz-mid-s;
  font-weight: 700;
  vertical-align: middle;
}
.flag-danger {
  background-color: #E85959;
}
.flag-success {
  background-color: #48C28F;
}

// btnstate
.btnstate {
  display: inline-block;
  height: 20px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  line-height: 19px;
  vertical-align: middle;
  &.btnstate-type1 {
    border: 1px solid $c-ae;
    background-color: $c-ae;
    font-size: $fz-mid-s;
    font-weight: 700;
    color: $c-f;
  }
  &.btnstate-type2 {
    border: 1px solid $c-dc;
    background-color: #EBEBEB;
    color: $c-ae;
    font-size: $fz-mid-s;
    font-weight: 400;
  }
  &.btnstate-type3 {
    border: 1px solid #38A8E6;
    background-color: #38A8E6;
    font-size: $fz-mid-s;
    font-weight: 700;
    color: $c-f;
  }
  &.btnstate-type4 {
    border: 1px solid #48C28F;
    background-color: #48C28F;
    font-size: $fz-mid-s;
    font-weight: 700;
    color: $c-f;
  }
}

// plate
.plate {
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  font-size: $fz-mid;
  font-weight: 700;
  color: $c-f;
}
.plate-blue {
  background-color: #3F4ED6;
}
.plate-lightblue {
  background-color: #38A8E6;
}
.plate-lightgray {
  background-color: #EBEBEB;
  color: $c-6;
}
.plate-darkgray {
  background-color: #8A8A8A;
}
.plate-green {
  background-color: #3C9771;
}

.plate-outer {
  display: flex;
  align-items: center;
  .plate {
    flex: 1;
  }
}
.ico-reply {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background: url(/assets/images/icon/icon-reply.svg) no-repeat 50% 50%;
}

// checkbox
.chcekboxgroup {
  margin-left: -6px;
  input[type='checkbox'] + label {
    margin-left: 6px;
    margin-right: 6px;
  }
}
input[type='checkbox'] {
  display:none;
  & + label {
    color:$c-6;
    font-size: $fz-mid;
  }
  & + label span {
    display:inline-block;
    width:12px;
    height:12px;
    margin:-2px 8px 0 0;
    vertical-align:middle;
    border: 1px solid $c-0;
    border-radius: 1px;
    background: $c-f;
    cursor:pointer;
  }
  &:hover + label span {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  }
  &:checked + label span {
    background: $c-0 url(/assets/images/icon/icon-check.svg) no-repeat left 2px top 3px;
    background-size: 6.5px 4.5px;
  }
  &:disabled + label span{
    position: relative;
    border: 1px solid $c-0;
    background: $c-dc;
    cursor: none;
    box-shadow: none;
    &:before {
      content: '';
      position: absolute;
      left: 2px;
      top: 5px;
      width: 6px;
      height: 1px;
      background: $c-0;
    }
  }
}