@charset "utf-8";

// header 및 container의 좌측 메뉴와 본문의 틀 지정
// reset
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: auto;
  min-width: 1900px;
  min-height: 100vh;
  &.f-none {
    justify-content: flex-start;
    #header + .container {
      min-height: calc(100vh - 56px);
    }
  }
}

// header
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 24px;
  background-color: #2763BA;
  .logo {
    width: 220px;
    background: url($imgCommon + '/logo_header_x2.png') no-repeat 0 0 / 100% auto;
    a {
      display: block;
      height: 24px;
      text-indent: -9999px;
    }
  }
  .sch-member {
    display: flex;
    align-items: center;
    .sch-field-area {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 24px;
      .field {
        .inp-field {
          width: 220px;
          height: 32px;
          border: 1px solid $c-f;
          border-radius: 4px;
          padding-left: 12px;
          padding-right: 42px;
          background-color: #2B65B8;
          font-weight: 500;
          font-size: $fz-mid;
          color: $c-f;
          outline: transparent;
          &::placeholder {
            font-weight: 500;
            font-size: $fz-mid;
            color: $c-f;
          }
        }
      }
      .bar-col {
        height: 16px;
        width: 1px;
        margin-right: 8px;
        margin-left: 8px;
        background-color: $c-dc;
      }
      .btn-zoom {
        position: absolute;
        top: 50%;
        right: 12px;
        width: 24px;
        height: 24px;
        background: url($imgIcon + '/icon_zoom.svg') no-repeat 50% 50%;
        text-indent: -9999px;
        cursor: pointer;
        transform: translateY(-50%);
      }
    }
    .user-avartar {
      width: 32px;
      height: 32px;
      border: 1px solid $c-f;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
  }
}

// container
.container {
  display: flex;
  min-height: calc(100vh - 436px);
  #category {
    width: 72px;
    padding-top: 8px;
    border-right: 1px solid $c-dc;
    background-color: $c-f;
    .nav-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        margin-bottom: 20px;
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 62px;
          height: 52px;
          border-radius: 4px;
          background-color: transparent;
          color: #8A8A8A;
          font-size: $fz-mid-ss;
          font-weight: 700;
          text-align: center;
          text-decoration: none;
          .ico {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-bottom: 4px;
            background: no-repeat 50% 50%;
            &.ico-home {
              background-image: url(/assets/images/icon/icon_home.svg);
            }
            &.ico-mail {
              background-image: url(/assets/images/icon/icon_mail.svg);
            }
            &.ico-approval {
              background-image: url(/assets/images/icon/icon_approval.svg);
            }
            &.ico-note {
              background-image: url(/assets/images/icon/icon_note.svg);
            }
            &.ico-headset {
              background-image: url(/assets/images/icon/icon_headset.svg);
            }
            &.ico-chat {
              background-image: url(/assets/images/icon/icon_chat.svg);
            }
            &.ico-find {
              background-image: url(/assets/images/icon/icon_find.svg);
            }
            &.ico-org {
              background-image: url(/assets/images/icon/icon_org.svg);
            }
            &.ico-system {
              background-image: url(/assets/images/icon/icon_system.svg);
            }
            &.ico-users2 {
              background-image: url(/assets/images/icon/icon_users2.svg);
            }
            &.ico-main {
              background-image: url(/assets/images/icon/icon_main.svg);
            }
            &.ico-note {
              background-image: url(/assets/images/icon/icon_note.svg);
            }
            &.ico-card2 {
              background-image: url(/assets/images/icon/icon_card2.svg);
            }
          }
        }
        
        &:hover,
        &.active {
          a {
            background-color: #2763BA;
            color: $c-f;
            .ico {
              &.ico-home {
                background-image: url(/assets/images/icon/icon_home_on.svg);
              }
              &.ico-mail {
                background-image: url(/assets/images/icon/icon_mail_on.svg);
              }
              &.ico-approval {
                background-image: url(/assets/images/icon/icon_approval_on.svg);
              }
              &.ico-note {
                background-image: url(/assets/images/icon/icon_note_on.svg);
              }
              &.ico-headset {
                background-image: url(/assets/images/icon/icon_headset_on.svg);
              }
              &.ico-chat {
                background-image: url(/assets/images/icon/icon_chat_on.svg);
              }
              &.ico-find {
                background-image: url(/assets/images/icon/icon_find_on.svg);
              }
              &.ico-org {
                background-image: url(/assets/images/icon/icon_org_on.svg);
              }
              &.ico-system {
                background-image: url(/assets/images/icon/icon_system_on.svg);
              }
              &.ico-users2 {
                background-image: url(/assets/images/icon/icon_users2_on.svg);
              }
              &.ico-main {
                background-image: url(/assets/images/icon/icon_main_on.svg);
              }
              &.ico-note {
                background-image: url(/assets/images/icon/icon_note_on.svg);
              }
              &.ico-card2 {
                background-image: url(/assets/images/icon/icon_card2_on.svg);
              }
            }
          }
        }
      }
    }
  }
  #content {
    width: calc(100% - 72px);
  }
}
