@charset "utf-8";
/// 공통 레이아웃 : 네비게이션

/// GNB
/// @author Mason
// ...

/// LNB
/// @author Natasha

$bullet: "/assets/images/lnb/lnb-bullet.svg";
$bullet-on: "/assets/images/lnb/lnb-bullet-on.svg";
$bullet-collapse: "/assets/images/lnb/bullet-collapse.svg";

$padding: 16px;
$gap: 8px;
$icon-position: 14px;

.lnb {
  width: 240px;

  > h1 {
    height: 56px;
    padding: 0 $padding;
    line-height: 56px;
    font-size: 16px;
    color: #3c72c1;
    font-weight: 700;
    background: #ebf1f9;
  }

  a:hover {
    text-decoration: none;
  }

  [class*="icon-45-angle"]:before {
    @include icon-45-angle($size: 12px, $color: "000");
  }

  &-nav {
    padding: $gap;
  }

  .js-tree-control {
    margin-bottom: 20px;
  }
} // .lnb

.lnb-item {
  border-radius: 8px;
  overflow: hidden;
  &:not(:first-child) {
    margin-top: $gap;
  }
}

.lnb-text {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 $padding;
  font-size: 14px;
  color: #2e2e2e;
  background-color: #f9f9f9;
  cursor: pointer;

  // active
  &.on,
  &:hover {
    color: #fff;
    background-color: #2763ba;
  }

  // bullet
  &:before {
    @include pseudo-block($size: 12px);
    margin-right: 8px;
  }
  &:not(.in-ui-icon):before {
    @include bg-contain($bullet, $bg-size: 4px);
  }
  .lnb-sub-nav &.on:not(.ui-collapse-text):before,
  .lnb-sub-nav &:hover:not(.ui-collapse-text):before {
    background-image: url($bullet-on);
  }

  //collapse
  &.ui-collapse-text:before {
    @include bg-contain($bullet-collapse, $bg-size: 12px);

    transform: rotate(180deg);
    transition: transform 200ms ease;
  }
  .ui-collapse.on > &.ui-collapse-text:before {
    transform: rotate(0);
  }
} // .lnb-text

// 1depth
.lnb-nav > .lnb-item,
.lnb-item.ui-collapse {
  border: 1px solid #dcdcdc;
  &.on {
    border-color: #aeaeae;
  }

  & > .lnb-text {
    color: #4b4b4b;
    font-weight: 700;
    background-color: #f4f4f4;

    &.on,
    &:hover {
      background-color: #ebebeb;
    }
  }
}

// 2depth+
.lnb-sub-nav {
  padding: $gap;
}

.in-ux-icon {
  position: relative;
  [class*="-icon"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .lnb-text:before {
    display: none;
  }
  .left-icon {
    left: $icon-position;
    & ~ .lnb-text {
      padding-left: 36px;
    }
  }
  .right-icon {
    right: $icon-position;
    & ~ .lnb-text {
      padding-right: 36px;
    }
  }
}
