@charset "utf-8";
/// 공통 서브 페이지

/// SubPage Layout
.page {
  display: flex;
  flex-direction: column;
  padding: 40px;

  /// page-title
  /// @author Mason
  //...
  .content-tle {
    margin-bottom: 8px;
    font-size: $fz-mid-bb;
  }

  // 기능 버튼들 영역
  .btn-group-area {
    margin-bottom: 12px;
  }

  /// 페이지 콘텐츠 영역
  &-content {
    // background: $c-tmp;

    /// 컨텐츠 제목
    /// @author Boris
    .page-title {
      font-size: $fz-mid-b;
      font-weight: 300;
      color: $c-0;
      margin-bottom: 27px;
      strong {
        font-size: $fz-mid-bb;
        font-weight: 700;
        margin-right: 20px;
        line-height: 25px;
        vertical-align: top;
      }
      .num {
        font-size: $fz-mid-b;
        font-weight: 700;
        color: #48c28f;
      }
    }
  }
}

/// BreadCrumb
/// @author Mason
.breadcrumb {
  display: flex;
  margin-bottom: 28px;
  color: $c-6;
  li {
    display: flex;
    align-items: center;
    font-size: $fz-mid;
    a {
      display: block;
      text-decoration: none;
    }
    strong {
      display: block;
      color: #2e2e2e;
      font-weight: 700;
    }
    &.arr:after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      margin-left: 12px;
      margin-right: 12px;
      background: url($imgIcon + "/icon_paging_next_ae.svg") no-repeat 50% 50% / 6px 11px;
    }
  }
}

/// LNB 가 있는 레이아웃
/// @author Natasha
.lnb-in {
  display: flex;

  .lnb {
    flex-shrink: 0;
    width: 240px;
    border-right: 1px solid #f0f0f0;
  }
  .page {
    flex-grow: 1;
  }
}

/// Tree Menu 가 있는 레이아웃
/// @author Natasha
.tree-in-page {
  display: flex;
  flex-grow: 1;

  .js-tree-wrap {
    flex-shrink: 0;
    width: 300px;
    background: $c-f;
    border: 1px solid $c-e1;
  }

  [class*="js-tree--"] {
    padding: 20px;
  }

  .page-content {
    flex-grow: 1;
    margin-left: 20px;
  }
}
