@import url('/assets/css/base.css');

body{
  font-size: 14px;
  background: transparent;
  min-width:1600px;
}
.pub-header {
    height: 56px;
    padding: 15px 24px 0;
    background-color: #2763BA;
    position: relative;
    margin-bottom: 50px;
}
.pub-header .logo {
    position: relative;
    z-index: 10;
    width: 220px;
    background: url(/assets/images/common/logo_header_x2.png) no-repeat 0 0/100% auto;
}
.pub-header .logo a {
    display: block;
    height: 24px;
    text-indent: -9999em;
}
.pub-gnb{
  position: absolute;
  padding: 0 30px 0 300px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.pub-gnb > li {
  margin-left: 60px;
}
.pub-gnb > li:nth-of-type(1) {
  margin-left: 0;
}
.pub-gnb > li > div[class*="submenu"]{
  display: none;
  position: absolute;
  left: 0;
  top: 56px;
  width: 100%;
  height: 40px;
  background-color: #eee;
  color: #000;
  font-size: 15px;
  font-weight: 500;
}
.pub-gnb > li:nth-of-type(5) > div[class*="submenu"] {
  display: block;
}
.pub-gnb > li > div[class*="submenu"] > ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.pub-gnb > li > div[class*="submenu"] > ul > li > a[href="#"]{
  color:#aaa !important;
}
/* .pub-sub-wrapper .pub-container{
  padding-top: 50px;
} */
.pub-guide-frame{
  width: 100%;
  height: calc(100vh - 106px);
}
#su-pub-list th,
#su-pub-list td {
  text-align: center;
} 
#su-pub-list td.pub-d1,
#su-pub-list td.pub-d2,
#su-pub-list td.pub-d3,
#su-pub-list td.pub-d4,
#su-pub-list td.pub-d5{
  text-align-last: left;
}

table#su-pub-list tbody th, table#su-pub-list tbody td{
  padding: 20px 8px;
}

table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1,
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
  background-color: transparent !important;
}