@charset "utf-8";
/// 전자결재

.approval-fn {
  padding: 8px 10px 18px;

  .btn-approval {
    @include size(100%, 56px);

    font-size: $fz-mid-bb;
    font-weight: 700;
    color: $c-f;
    background: #1f4f95;
    border-radius: 4px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24);
  }

  .icon-regist {
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      @include icon-regist($size: $fz-mid, $color: "fff");
      margin-right: 11px;
    }
  }
}

// split
.page-split {
  display: flex;
  justify-content: start;
  height: 1000px;
  .split-detail {
    width: 69.75%;
    position: relative;
    border: 1px solid #dcdcdc;
    .btn-split {
      width: 44px;
      height: 44px;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      border-radius: 0 0 0 4px;
      background: #f4f4f4;
    }
  }
  .split-aside {
    width: calc(30.25% - 20px);
    margin-left: 20px;
  }
}

/*add*/
.approoval-tit1 {
  border-bottom: 1px solid $c-dc;
  background-color: $c-f;
  display: flex;
  padding-bottom: 12px;
  margin-bottom: 12px;
  
  h3 {
    font-size: 18px;
    font-weight: 700;
    margin-right: 12px;
    line-height: 32px;
  }
}