@charset "utf-8";
/// 게시판
/// @author Boris

/**
 * table
 */
.table {
  // table variable
  $tableBorder: #DCDCDC;
  $backgroundColor: #F5F5F5;
  $borderColor: #F0F0F0;
  $textLeft: left;
  $textCenter: center;
  $textRight: right;

  // base
  width: 100%;
  position: relative;
  border-collapse: collapse;
  
  &.table-fixed {table-layout: fixed;}
  &.mt10 {margin-top: 10px;}
  &.mt20 {margin-top: 20px;}
  &.mt30 {margin-top: 30px;}

  caption {
    overflow: hidden;
    width: 0;
    height: 0;
    line-height: 1;
  }

  thead {
    tr {
      th {
        font-size: $fz-mid-s;
        font-weight: 400;
        padding: 8px;
        color: $c-0;
        text-align: $textCenter;
        background: $backgroundColor;
      }
    }
  }
  tbody {
    tr {
      td {
        font-size: $fz-mid;
        font-weight: 500;
        padding: 16px 8px;
        text-align: $textCenter;
        border-bottom: 1px solid $borderColor;
        background: #FFF;
        line-height: 20px;
        color: $c-0;
        word-break: break-all;
      }

      .flex-between {
        display: flex;
        justify-content: space-between;
      }
      .empty {
        margin-top: 15px;
      }
      .new {
        font-size: $fz-mid-s;
        color: #E85959;
      }
      .reply {
        font-size: $fz-mid-s;
        color: $c-6;
      }
      .date {
        color: $c-6;
        word-break: keep-all;
      }
      .state {
        word-break: keep-all;
        &.wait {
          color: #38A8E6;
        }
        &.doing {
          color: #E85959;
        }
        &.complete {
          color: #666666;
        }
        &.team {
          color: #3A9B72;
        }
      }
      .classification {
        font-size: $fz-mid-s;
        word-break: keep-all;
      }

      &:last-child {
        td {
          border-bottom: 1px solid $tableBorder;
        }
      }
    }
  }

  .cell-left {
    text-align: $textLeft;
  }
  .cell-right {
    text-align: $textRight;
  }

  // table-view
  &.table-view {
    border-collapse: separate;
    border-bottom: none;
    border-spacing: 0 8px;
    tbody {
      tr {
        th {
          font-size: $fz-mid;
          font-weight: 400;
          padding: 10px 20px;
          text-align: left;
          color:$c-4b;
          background: $backgroundColor;
          .row-list {
            margin: -5px 0;
            li {
              font-weight: 400;
              margin: 15px 0;
            }
          }
        }
        td {
          font-size: $fz-mid;
          font-weight: 500;
          padding: 10px 20px;
          color: $c-0;
          text-align: left;
          border-bottom: none;
          .row-list {
            margin: -5px 0;
            li {
              font-weight: 500;
              margin: 15px 0;
              color: $c-0;
            }
          }
        }
      }
    }
  }

  // table-write
  &.table-write {
    
  }

  // table-division
  &.table-division {
    border-top: 1px solid $tableBorder;
    padding: 10px 0;
  }
}

/**
 * pagination
 */
.pagination-wrap {
  font-size: $fz-mid;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: $c-6;

  .pagination {
    display: flex;

    li.page-item {
      margin: 0 4px;

      button {
        cursor: pointer;
        display: inline-block;
        padding: 4px 10px;
        border-radius: 4px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #DCDCDC;

        &.prev,
        &.next {
          border: none;
        }

        &:hover,
        &.current {
          color: $c-f;
          border-color: #2763BA;
          background: #2763BA;
        }
        &.prev:hover,
        &.next:hover {
          background: transparent;
        }
      }
    }
  }

  // paging + tabs
  & + .tabs {
    margin-top: 36px;
  }
}

/**
 * tabs
 */

 /**
 * 이전, 다음글
 */

 /**
 * 댓글 등록
 */

 /**
 * 좋아요
 */

 /**
 * 첨부파일 drag &amp; drop
 */