@charset "utf-8";
/// Guide
/// @author

body {
  padding: 50px;
  box-sizing: border-box;

  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
    margin: 5px 0;
  }
  h3 {
    font-size: 16px;
    color: #7952b3;
    margin: 20px 0 5px 0;
  }
  h4 {
    font-size: 14px;
    color: #0dcaf0;
    margin: 5px 0;
  }

  .bd-example {
    font-size: 14px;
    font-weight: 700;
    position: relative;
    padding: 1.5rem 0;
    margin-right: 0;
    margin-left: 0;
    color: #7952b3;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

    .opener {
      cursor: pointer;
      display: inline-block;
      color: #212529;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;
      padding: 0.375rem 0.75rem;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      color: #fff;
      background-color: #0d6efd;
      border-color: #0d6efd;
    }
  }
  .bd-callout {
    font-size: 13px;
    font-weight: bold;
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 2px solid #e9ecef;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;

    &.bd-callout-info {
      border-left-color: #5bc0de;
    }

    pre,
    code {
      font-family: "nskr", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
      color: green;
    }
  }
}
