@charset "utf-8";
/// 오픈 라이브러리 확장 스타일 : jquery-ui
/// @author

/* MODAL */
.ui-dialog {
  font-family: 'nskr';
  font-size: inherit;
  padding: 0;

  a,
  select,
  input,
  button {
    font-family: 'nskr';
  }

  .ui-widget-header {
    border: none;

    &.ui-dialog-titlebar {
      padding: 40px 50px 0;
      border-radius: 0;
      background: none;
      box-sizing: border-box;

      .ui-button {
        &.ui-dialog-titlebar-close {
          width: 24px;
          height: 24px;
          top: inherit;
          right: 50px;
          margin: 0;
          border: none;
          background: url($baseImg+'/icon/icon_modal_close.svg');

          .ui-icon {
            display: none;
          }
        }
      }
    }

    .ui-dialog-title {
      font-size: $fz-mid-bb;
      font-weight: 700;
      margin: 0;
      line-height: 26.06px;
    }
  }

  &.mini {
    .ui-widget-header {
      border: none;
  
      &.ui-dialog-titlebar {
        padding: 30px 40px 0;

        .ui-dialog-titlebar-close {
          display: none;
        }
      }
    }
    .ui-dialog-content {
      padding: 0 40px 30px;
    }
  }
  &.mini-info {
    .ui-widget-header {
      border: none;
  
      &.ui-dialog-titlebar {
        padding: 30px 40px 0;

        .ui-dialog-titlebar-close {
          right: 30px;
        }

        .ui-dialog-title {
          display: none;
        }
      }
    }
    .ui-dialog-content {
      margin-top: 25px;
      padding: 0 40px 30px;
    }
  }

  .ui-dialog-content {
    padding: 0 50px 40px;
    box-sizing: border-box;
  }

  &.ui-widget-content {
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
  }
}

.ui-widget-overlay {
  opacity: 0.5;
  background: $c-0;
}



/* Tabs */
.ui-widget {
  &.ui-tabs {
    font-family: 'nskr';
    border: none;
    padding: 0;

    .ui-tabs-nav {
      padding: 0;
      border: none;
      background: none;
      display: flex;
      justify-content: space-between;

      li {
        flex: 1 auto;
        border: none;
        margin: 0 0 0 4px;
        &:first-child {
          margin-left: 0;
        }
        .ui-tabs-anchor {
          font-family: 'nskr';
          font-size: $fz-mid;
          font-weight: 700;
          display: inline-block;
          width: 100%;
          color: #AEAEAE;
          border-radius: 4px 4px 0px 0px;
          padding: 10px;
          text-align: center;
          background: #F4F4F4;
        }
        
        &.ui-tabs-active {
          .ui-tabs-anchor {
            color: $c-f;
            background: #2763BA;
          }
        }
      }
    }

    .ui-tabs-panel {
      padding: 12px;
      border: 1px solid #E5E5E5;
      border-radius: 0;
    }
  }
}
